$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$hard-black: #24292e;
$soft-black: #2b3137;
$white: #ffffff;
$hard-grey: #586069;

$nav-color: $hard-black;
$main-block-color: $soft-black;
$primary-font-color: $white;
$low-key-color: $hard-grey;