@import 'general';

.direction-row{
    display: flex;
    flex-direction: row;
}

svg {
    fill: white;
    background-color: black;
}

header {
    background-color: $nav-color;
}

body {
    background-color: $primary-font-color;
    font-family: $base-font-family;
    margin: 0;
}

nav {
    background-color: $nav-color;
    color: $primary-font-color;
    align-items: center;
    height: 36px;
    margin: 0 134px 0 134px;
    padding: 16px;
    
}

.list {
    justify-content: space-between;
    align-items: center;
    width: 439.13px;
    height: 36px;
    padding: 0 120px 0 21px;
    margin: 0;
}

.search-bar {
    background-color: #404448;
    width: 183.948px;
    height: 30px;
    border: 0;
    padding: 0;
    border-radius: 3px;
    font-size: 13px;
    padding: 0 5px 0 5px;
    
    &::placeholder {
        color: #8d8f91;
    }

    &:focus{
        background-color: #4b4f53;
        outline: none;
    }
}

.sign {
    align-items: center;
    padding: 0 0 0 20px;
    font-weight: bold;
}

.or {
    color: $low-key-color;
    font-weight: normal;
}

a {
    color: $primary-font-color;
    text-decoration: none;
}

.main {
    background-image: url(https://assets-cdn.github.com/images/modules/site/heroes/simple-codelines.svg);
    background-color: $main-block-color;
}

ul {
    list-style: none;
}