@import 'general';
.direction-row {
    display: flex;
    flex-direction: row;
}

.justify-center {
    display: flex;
    justify-content: center;
}

header {
    background-color: $nav-color;
}

html {
    background-color: $primary-background-color;
    font-family: $base-font-family;
    font-size: $base-rem;
    margin: 0 auto;
}

body {
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
    background-color: $nav-color;
    color: $primary-font-color;
    align-items: center;
    margin: 0 134px 0 134px;
    padding: 16px;
    svg {
        fill: white;
        background-color: black;
        border-radius: 50%;
        background-size: cover;
    }
}

.list {
    justify-content: space-between;
    align-items: center;
    width: 439.13px;
    padding: 0 120px 0 21px;
    margin: 0;
}

ul {
    list-style: none;
}

.search-bar {
    background-color: #404448;
    width: 183.948px;
    height: 30px;
    border: 0;
    padding: 0;
    border-radius: 3px;
    font-size: (13 / 16) * 1rem;
    padding: 0 5px 0 5px;
    &::placeholder {
        color: #8d8f91;
    }
    &:focus {
        background-color: #4b4f53;
        outline: none;
    }
}

.sign {
    align-items: center;
    padding: 0 0 0 20px;
    line-height: 20px;
    font-weight: 600;
}

.or {
    color: $low-key-color;
    font-weight: normal;
    margin: 0 auto;
}

a {
    color: $primary-font-color;
    text-decoration: none;
}

.main {
    width: 100%;
    background-image: url(https://assets-cdn.github.com/images/modules/site/heroes/simple-codelines.svg);
    background-size: cover;
    background-color: $main-block-color;
    background-position: center 10%;
    padding: 120px 0 120px 0;
}

.article {
    margin: 40px 20px 0 20px;
    width: 551.545px;
    .slogan {
        font-size: (72 / 16) * 1rem;
        font-family: $slogan-font-family;
        font-weight: 300;
        line-height: 72px;
        color: $primary-font-color;
        margin: 0 0 16px 0;
    }
    .text {
        font-size: (26 / 16) * 1rem;
        font-weight: 300;
        line-height: 39px;
        font-family: $slogan-font-family;
        color: $text-color;
        margin: 0 auto;
        a {
            border-bottom: 1px solid;
            text-decoration: none;
            border-color: rgba(255, 255, 255, 0.125);
            color: $primary-font-color;
            &:hover {
                border-bottom-color: $primary-font-color;
                outline: none;
            }
        }
    }
}

.login-box {
    width: 380.328px;
    height: 408px;
    background-color: $primary-background-color;
    border-radius: 3px;
    padding: 24px 24px 32px 24px;
}

.login {
    color: $low-key-color;
    p {
        font-size: (12 / 16) * 1rem;
        text-align: center;
        a {
            color: #0366d6;
            text-align: center;
            &:hover {
                text-decoration: underline;
                outline: none;
            }
        }
        .text-left {
            text-align: left;
        }
    }
    .sign-up-button {
        background-color: #28a745;
        background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
        border-radius: 6px;
        border-width: 1px;
        font-size: $base-rem;
        color: $primary-font-color;
        padding: 12px 20px 12px 20px;
        width: 358.328px;
    }
}

.form {
    dd {
        font-size: (14 / 16) * 1rem;
        margin: 0 auto;
        .blank-input {
            background-color: $primary-background-color;
        }
        label {
            display: block;
            margin: 0 0 5px 0;
        }
        input {
            font-size: $base-rem;
            width: 358.328px;
            height: 24px;
            padding: 10px;
            margin: 0 0 5px 0;
            border-radius: 5px;
            border: solid 1px #d1d5da;
            color: black;
            background-color: #faffbd;
            &:focus {
                border-color: #006fff;
                outline: none;
            }
            &::placeholder {
                color: #8d8f91;
            }
        }
    }
}

.banner-box {
    background-color: $nav-color;
    .banner {
        max-width: 100%;
        padding: 32px 16px 32px 16px;
        .universe-icon {
            width: 205px;
            height: 112px;
            margin: 0 40px 0 0;
        }
        .universe-wordmark {
            width: 215px;
        }
        .universe-text {
            line-height: 1.5;
            color: $primary-font-color;
            margin: 8px 0 4px 0;
        }
        a {
            color: $text-color;
            &:hover {
                border-bottom: 1px solid;
                border-color: $text-color;
            }
        }
    }
}

.featuretee {
    padding: 80px 0 80px 0;
    .all-center {
        width: 985px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: $base-font-family;
        padding: 0 16px 0 16px;
        margin: 0 auto;
        h6 {
            font-size: $base-rem;
            font-weight: 300;
            color: $low-key-color;
            margin: 0 auto;
        }
        h2 {
            font-size: (54 / 16) * 1rem;
            font-weight: 300;
            color: $nav-color;
            font-family: $slogan-font-family;
            line-height: 1.25;
            margin: 16px 0 8px 0;
        }
        p {
            font-size: (20 /16) * 1rem;
            font-weight: 300;
            line-height: 30px;
            color: $low-key-color;
            margin: 0 0 30px 0;
        }
        .featuretee-button {
            button {
                font-size: $base-rem;
                font-weight: 600;
                border: solid 1px #d1d5da;
                border-radius: 6px;
                background-color: $primary-background-color;
                color: #0366d6;
                padding: 12px 20px 12px 20px;
                &:hover {
                    background-color: #0366d6;
                    border-color: #0366d6;
                    color: $primary-background-color;
                }
            }
        }
    }
    .img-and-text {
        padding: 80px 0 80px 0;
    }
    .half-img-and-text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 32px 0 32px 0;
        .half-text-container {
            width: 458px;
            line-height: 1.5;
            h3 {
                font-family: $slogan-font-family;
                font-size: 22px;
                font-weight: 400;
                margin: 0 0 4px 0;
            }
            p {
                line-height: 24px;
                margin: 0 0 10px 0;
            }
            .link {
                display: flex;
                justify-content: flex-start;

                a {
                    color: #0366d6;
                    &:hover {
                    border-bottom: 1px solid;
                    border-color: #0366d6;
                    }
                }
            }
        }
        .conversation-img {
            width: 360px;
            height: 314.422px;
            padding: 32px;
            margin: 0 32px 0 32px;
        }
    }
}

.chaos-img {
    width: 426px;
    height: 204.469px;
    padding: 32px;
}

.chaos-text {
    padding: 0 0 0 32px;
}

.security {
    .security-img {
        margin: 0 0 8px 0;
    }
    p {
        padding: 0 165px 0 164px;
    }
}

.business-img {
    width: 458px;
    height: 364.391px;
    padding: 0 0 0 32px;
}

.text-and-business {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 32px 0 32px 0;
}

.security-text-container {
    width: 490px;
    height: 415px;
    h3 {
        font-family: $slogan-font-family;
        font-size: 22px;
        font-weight: 400;
        margin: 0 0 4px 0;
    }
    p {
        line-height: 24px;
        margin: 0 0 32px 0;
    }
}

.integrations-featuretee {
    display: flex;
    justify-content: center;
    padding: 80px 16px 80px 16px;
    margin: 0 134px 0 134px;
    .integrations {
        padding: 40px 0 40px 0;
        margin: 0 163.328px 0 163.344px;
        width: 985px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: $base-font-family;
        h6 {
            font-size: $base-rem;
            font-weight: 300;
            color: $low-key-color;
            margin: 0 auto;
        }
        h2 {
            font-size: (54 / 16) * 1rem;
            font-weight: 300;
            color: $nav-color;
            font-family: $slogan-font-family;
            line-height: 1.25;
            margin: 16px 0 8px 0;
        }
        p {
            font-size: (20 /16) * 1rem;
            font-weight: 300;
            line-height: 30px;
            color: $low-key-color;
            margin: 0 0 30px 0;
            margin: 0 16px 24px 16px;
        }
    }
    .featuretee-button {
        button {
            font-size: $base-rem;
            font-weight: 600;
            border: solid 1px #d1d5da;
            border-radius: 6px;
            background-color: $primary-background-color;
            color: #0366d6;
            padding: 12px 20px 12px 20px;
            margin: 0 0 40px 0;
            &:hover {
                background-color: #0366d6;
                border-color: #0366d6;
                color: $primary-background-color;
            }
        }
    }
    .circle-logo {
        width: 920px;
        height: 140px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px 0 40px 0;
        .circle-bg {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img {
                width: 52.797px;
                position: absolute;
            }
        }
        .slack {
            background-color: #553958;
            position: relative;
            &:hover {
                box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid #484b4f;
                    position: relative;
                    top: 51px;
                    left: 24px;
                }
                &::after {
                    content: 'Slack';
                    color: white;
                    font-size: 11px;
                    border-radius: 3px;
                    background-color: #484b4f;
                    position: relative;
                    top: 65px;
                    right: 4px;
                    padding: 5px 8px;
                }
            }
        }
        .zenhubio {
            background-color: #364e98;
            align-self: flex-end;
            position: relative;
            &:hover {
                box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid #484b4f;
                    position: relative;
                    top: 51px;
                    left: 34px;
                }
                &::after {
                    content: 'ZenHubio';
                    color: white;
                    font-size: 11px;
                    border-radius: 3px;
                    background-color: #484b4f;
                    position: relative;
                    top: 65px;
                    right: 5px;
                    padding: 5px 8px;
                }
            }
        }
        .travis-ci {
            background-color: #eff9f9;
            position: relative;
            &:hover {
                box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid #484b4f;
                    position: relative;
                    top: 51px;
                    left: 32px;
                }
                &::after {
                    content: 'Travis-ci';
                    color: white;
                    font-size: 11px;
                    border-radius: 3px;
                    background-color: #484b4f;
                    position: relative;
                    top: 65px;
                    right: 5px;
                    padding: 5px 8px;
                }
            }
        }
        .atom {
            background-color: #5fb57d;
            align-self: flex-end;
            position: relative;
            &:hover {
                box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid #484b4f;
                    position: relative;
                    top: 51px;
                    left: 23px;
                }
                &::after {
                    content: 'Atom';
                    color: white;
                    font-size: 11px;
                    border-radius: 3px;
                    background-color: #484b4f;
                    position: relative;
                    top: 65px;
                    right: 5px;
                    padding: 5px 8px;
                }
            }
        }
        .circleci {
            background-color: #022531;
            position: relative;
            &:hover {
                box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid #484b4f;
                    position: relative;
                    top: 51px;
                    left: 28px;
                }
                &::after {
                    content: 'Circleci';
                    color: white;
                    font-size: 11px;
                    border-radius: 3px;
                    background-color: #484b4f;
                    position: relative;
                    top: 65px;
                    right: 5px;
                    padding: 5px 8px;
                }
            }
        }
        .codeship {
            background-color: #f3f6fb;
            align-self: flex-end;
            position: relative;
            &:hover {
                box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid #484b4f;
                    position: relative;
                    top: 51px;
                    left: 33px;
                }
                &::after {
                    content: 'Codeship';
                    color: white;
                    font-size: 11px;
                    border-radius: 3px;
                    background-color: #484b4f;
                    position: relative;
                    top: 65px;
                    right: 5px;
                    padding: 5px 8px;
                }
            }
        }
        .codeclimate {
            background-color: #303030;
            position: relative;
            &:hover {
                box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid #484b4f;
                    position: relative;
                    top: 51px;
                    left: 40px;
                }
                &::after {
                    content: 'Codeclimate';
                    color: white;
                    font-size: 11px;
                    border-radius: 3px;
                    background-color: #484b4f;
                    position: relative;
                    top: 65px;
                    right: 5px;
                    padding: 5px 8px;
                }
            }
        }
    }
    .marketplace {
        margin: 0 163.344px 0 163.328px;
        padding: 40px 0 40px 0;
        p {
            font-size: 14px;
            font-weight: normal;
            color: #24292e;
            margin: 8px 140px 8px 140px;
            line-height: 1.5;
        }
    }
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: #0366d6;
        &:hover {
            border-bottom: 1px solid;
            border-color: #0366d6;
        }
    }
    svg {
        width: 8px;
        height: 16px;
        fill: #0366d6;
        margin: 0 0 0 8px;
    }
}

.grey-link {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: $text-color;
        &:hover {
            border-bottom: 1px solid;
            border-color: $text-color;
        }
    }
    svg {
        width: 8px;
        height: 16px;
        fill: $text-color;
        margin: 0 0 0 8px;
    }
}

.community-featuretee {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0 80px 0;
    .community {
        text-align: center;
        padding: 80px 16px 40px 16px;
        margin: 0 134px 0 134px;
        svg {
            margin: 0 0 8px 0;
        }
        h6 {
            font-size: $base-rem;
            font-weight: 300;
            color: $low-key-color;
            margin: 0 auto;
        }
        h2 {
            font-size: (54 / 16) * 1rem;
            font-weight: 300;
            color: $nav-color;
            font-family: $slogan-font-family;
            line-height: 1.25;
            margin: 16px 0 24px 0;
        }
        p {
            font-size: (20 /16) * 1rem;
            font-weight: 300;
            line-height: 30px;
            color: $low-key-color;
            margin: 0 0 30px 0;
            margin: 0 163.328px 24px 163.324px;
        }
    }
}

.stories-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: auto;
    height: 184px;
    padding: 40px 8px 40px 8px;
    margin: 40px 0 40px 0;
    article {
        padding: 8px;
        transition: 0.3s;
        a {
            display: flex;
            flex-direction: row;
            box-shadow: 0 10px 50px rgba(27, 31, 35, 0.07);
            border-radius: 3px;
        }
        img {
            width: 157px;
            height: 157px;
            transition: 0.3s;
        }
        .stories-text-container {
            width: 157px;
            height: 157px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .stories-text {
                text-align: center;
                .purple-text:hover {
                    text-decoration: underline;
                    color: #7445c3;
                }
                .orange-text:hover {
                    text-decoration: underline;
                    color: #e36209;
                }
                h1 {
                    display: block;
                    color: #24292e;
                    font-size: (24 / 16) * 1rem;
                    font-weight: 300;
                    margin: 0 0 4px 0;
                }
                p {
                    display: block;
                    color: $low-key-color;
                    font-size: 12px;
                    margin: 0 auto;
                }
            }
        }
    }
}

.magee,
.nova,
.mapbox {
    margin: 0 0 16px 0;
}

article:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.teamusers {
    padding: 0 16px 0 16px;
    margin: 0 134px 0 134px;
    .grey-text {
        color: $low-key-color;
        font-family: $slogan-font-family;
        font-size: (20 / 16) * 1rem;
        text-align: center;
        font-weight: 300;
        padding: 0 0 40px 0;
        margin: 0 163.344px 30px 163.324px;
    }
    .community-stats-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .circle-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            color: $primary-font-color;
            width: 500px;
            position: relative;
            right: 38px;
            .worldwide-circle {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                .circle-text {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    font-weight: 300;
                    padding: 16px;
                    margin: 24px;
                    span {
                        margin: 0 0 8px 0;
                    }
                    p {
                        white-space: nowrap;
                        font-size: (12 / 16) * 1rem;
                        line-height: 1.5;
                        margin: 0 auto;
                    }
                }
            }
            .orange-circle {
                background-color: #fb8532;
                width: 177px;
                height: 177px;
                position: relative;
                right: 15px;
                bottom: 5px;
                padding: 24px;
                margin: 16px;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.05);
                    transition: 0.3s;
                }
                span {
                    font-size: (40 / 16) * 1rem;
                }
            }
            .blue-circle {
                background-color: #0366d6;
                width: 127px;
                height: 127px;
                position: relative;
                top: 35px;
                right: 20px;
                transition: 0.3s;
                padding: 24px;
                margin: 16px;
                &:hover {
                    transform: scale(1.05);
                    transition: 0.3s;
                }
                span {
                    font-size: (40 / 16) * 1rem;
                }
            }
            .purple-circle {
                background-color: #6f42c1;
                width: 77px;
                height: 77px;
                position: relative;
                left: 148px;
                bottom: 16px;
                transition: 0.3s;
                padding: 24px;
                margin: 16px;
                &:hover {
                    transform: scale(1.05);
                    transition: 0.3s;
                }
                span {
                    font-size: (32 / 16) * 1rem;
                }
            }
        }
        .summarylink-container {
            position: relative;
            right: 50px;
            .summarylink {
                padding: 24px;
                width: 350px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border: solid 1px transparent;
                p {
                    width: 291.656px;
                    font-size: (14 / 16) * 1rem;
                    line-height: 21px;
                    margin: 0;
                }
                svg {
                    fill: $low-key-color;
                }
                &:hover {
                    border: solid 1px transparent;
                    border-color: rgb(209, 213, 218);
                    box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15);
                }
            }
            .open-source {
                span {
                    color: #e36209;
                }
            }
            .developers {
                span {
                    color: #0366d6;
                }
            }
            .business {
                span {
                    color: #6f42c1;
                }
            }
        }
    }
    .logo-container {
        padding: 40px 0 40px 0;
        margin: 0 0 24px 0;
        h3 {
            font-size: (22/16)*1rem;
            font-weight: 400;
            font-family: $slogan-font-family;
            color: #6a737d;
            text-align: center;
            padding: 0;
            margin: 16px 0 24px 0;
        }
        .logos {
            margin: 16px 0 16px 0;
            .row-one,
            .row-two {
                display: flex;
                justify-content: center;
            }
            img {
                width: auto;
                height: 25px;
                filter: grayscale(100%);
                padding: 0 32px 0 32px;
                margin: 16px 10px 16px 10px;
            }
        }
    }
}

.sign-featuretee {
    background-color: $nav-color;
    h2 {
        color: white;
        font-size: (38/16)*1rem;
        font-family: $slogan-font-family;
        font-weight: 300;
        line-height: 57px;
        margin: 0 134px 0 134px;
        text-align: center;
    }
    .bottom-sign {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 40px 36px 0 36px;
        margin: 40px 0 0 0;
    }
    .form {
        input {
            width: 238px;
            height: 24px;
            padding: 10px 30px 10px 10px;
            margin: 0 32px 0 0;
        }
    }
    .full-width-button {
        width: 280px;
        height: 46px;
        button {
            width: 100%;
            height: 100%;
            background-color: #28a745;
            background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
            border-radius: 6px;
            border-width: 1px;
            font-size: $base-rem;
            color: $primary-font-color;
            padding: 12px 20px 12px 20px;
        }
    }
    p {
        color: #6a737d;
        font-size: (12/16)*1rem;
        text-align: center;
        margin: 20px 0 0 0;
        a {
            color: white;
        }
    }
}